table {
  width: 100%;
  overflow: auto;

  th {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    border: none;
    color: black;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  td {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 6px 0;
    border: none;
  }

  mat-chip {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
}

.mat-sort-header-container,
.mat-chip-list-wrapper {
  justify-content: center !important;
}

.container-title {
  font-size: 20px;
  padding: 19px 0 19px 25px;
  font-weight: 700;
  background-color: #fff;
  margin: 5px 5px 5px 0;
}

.img-list {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.action-header {
  padding-left: 30px;
}

