<div class="container-title">Add New Moment</div>
<mat-card>
  <form [formGroup]="formData">
    <div class="form-group">
      <mat-form-field floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Sample Title" type="text" required />
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="
              let requirement of formData.get('requirements')?.value;
              let i = index
            "
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(i)"
            >{{ requirement
            }}<mat-icon matChipRemove *ngIf="removable"
              >cancel</mat-icon
            ></mat-chip
          >
          <input
            placeholder="Add Tag"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="seperatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>
  </form>
</mat-card>
